/* style.css */
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('terminalbackdrop.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: relative;
    color:white;

}

.navbar {
    display: flex;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar-right {
    display: flex;
    align-items: center;
    color: white;
    margin-left: auto; 
    padding-right: 20px;
}


/* Content Style */
.content {
    margin-top: 60px; /* Add margin to avoid overlap with navbar */
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#gamelist div {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#joinerror, #notloggedin {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
